<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="TEXT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <if condition='!property("ENV").equalsIgnoreCase("local")'>
        <then>
            <root level="INFO">
                <appender-ref ref="JSON_CONSOLE" />
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="TEXT_CONSOLE" />
            </root>
        </else>
    </if>

</configuration>